body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #1b2838; 
}
nav {
    background-color: #2a475e; 
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav button {
    background-color: #66c0f4; 
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
h1, h2, h3 {
    color: #ffffff; 
    text-align: center;
}
div, footer {
    padding: 20px;
    text-align: center;
}



img {
    width: 100vh; 
    height: 70vh;
    border-radius: 8px; 
    margin-left: 45vh;
}

button {
    background-color: #66c0f4; 
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

footer {
    background-color: #2a475e; 
    color: white;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

.part1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 100px;
}

.part2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #2a475e;

}
.p1{
    text-align: left;
    margin-left: 50px;

}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    background: none;
    color: white;
    font-size: 14px;
}

input:focus, textarea:focus {
    outline: none;
    border-bottom-color: #00b894;
}

label {
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #00b894;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #019d78;
}

